
.form{
  display:flex;
  width:440px; 
  height:auto;
  flex-direction: column;
  box-shadow: 0px 5px 20px rgba(53, 50, 56, 0.14);
  border-radius: 8px;
  align-items: center;
}

.select{
  display: inline-block;
  width: 90% !important;
  margin-bottom: 25px !important;
 
  &_sel{
    border-radius:8px;
  }
}

.inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &_input {
    width: 40% !important;
    margin: 20px 20px 25px 20px !important;
    fieldset.MuiOutlinedInput-root.Mui-focused {
      border-color: #0086A8 !important;
}
  }
}
.arrow{
  display: inline-block;
  width: auto !important;
  align-self: flex-start;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
  width: 226px;
  height: 21px;
  margin-left: 5.5%;
  cursor: default;
  transition: all 0.5s ease 0s;
  &:active{
    color: #0086A8;
  }
   &_rotate{
      transform: rotate(180deg);
    }
  span{
    display:inline-block;
    width: 10px;
    height: 6px;
    background-image: url(../vector/arrow.svg) ;
    position: absolute;
    margin: 9px;
   
  }
}

button{
  display: inline-block;
  width: 90% !important;
  margin-bottom: 40px !important;
  padding: 18px 125.5px !important;
  font-family: 'Open Sans'!important;
  font-style: normal!important;
  font-weight: 600!important;
  font-size: 14px!important;
  text-transform: none!important;
  background-color: #0086A8 !important;
  span{
    color: white !important;
  }
}
.btn{
  background: #E3E3E3!important;
}

